html, body {
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 13px;
    margin: 0;
}
p {
    font-size: 12px;
    margin: 0; 
}
.container {
    width: 358px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 10px;
}

.logo {
    width: 127px;
}

.user-avatar {
    width: 34px;
    border-radius: 50%;
    align-self: center;
}

.author {
    display: flex;
    gap: 10px;
    align-items: center;  
    margin-bottom: 10px; 
}

.post-image {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    width: 23px;
}

.icon:hover {
    /* background-color: gray; */
    opacity: 50%;
}
.padd {
    padding-left: 10px;
    padding-right: 10px;
}

.under-image {
    margin-bottom: 30px;
}

.liked {
    background-color: red;
    
}